@media screen and (min-width:480px){
  .hero-img{
    width:250px;
  }
  .navbar-ul{
    list-style: none;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:30px;
  }

}

@media screen and (max-width:480px){
  .navbar-ul{
      list-style: none;
      display:flex;
      flex-direction: column;
      gap:10px;
  }
}
